# Dependências
node_modules/

# Arquivos gerados (TypeScript)
dist/

# Cliente Prisma
backend/prisma/generated

# Variáveis de ambiente
.env
.env.*
!.env.example

# Arquivos do sistema operacional
.DS_Store
Thumbs.db